.leaderBoard {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 40% !important;
}

.width40 {
    width: 40% !important;
}

.headerStyle {
    text-align: center;
    margin-top: 40px !important;
}
