.selectContainer{
    width: 600px;
}

.loginPageSelectcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    height: 100%;
}
.avatarContainer{
    margin-bottom: 3px;
    cursor: pointer;
    margin-left: 3px;
}
/*
need to be removed its a hack
ui  a.item{
    width: 50%;
}
.QuestionTabontainer{
    flex: 0 50%;
}

*/

.ui  a.item{
    width: 50%;
}
.QuestionTabontainer{
    flex: 0 50%;
}

.orCss {
    text-align: center;
    width: 57%;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: cursive;
}
